* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    border-bottom: 1px solid #ddd;
    height: 64px;
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
        display: inline-block;
        width: 50%;
        line-height: 32px;
        > nav {
            text-align:right;
            > a {
                margin-left: 16px;
            }
        }
    }
}

main {
    margin-top: 64px;
    padding: 16px;
}